<a
  class="list-group-item clearfix"
  routerLink='/job-detail/{{id}}'
  (click)="onSelected(job.title)"
  style="display: flex; min-height: 80px;padding : 0; font-family: cursive">
  <span class="float-left" style="margin-right: 10px;">
    <img
      [src]="job.company_logo ? job.company_logo : 'https://icon-library.com/images/no-image-icon/no-image-icon-0.jpg'"
      class="img-responsive"
      style=" height: 80px; width: 70px;">
</span>
  <div class="float-right">
    <p class="list-group-item-heading"><b>{{ job.title }}</b></p>
    <p class="list-group-item-heading" 
    style="background: linear-gradient(to top, white, black);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;"><b>{{ job.type }}</b></p>
</div>
  
</a>